<%= form_for @artwork, :html => { :multipart => true } do |form| %>
  <% if @artwork.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artwork.errors.count, "error") %> prohibited this artwork from being saved:</h2>

      <ul>
      <% @artwork.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= render :partial => "shared/upload", :locals => {:form => form } %>
 <br>
  <div class="actions">
    <button class = "btn btn-primary">Add artwork</button>
  </div>
<% end %>

