// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#table-background{
	background-image:url('/MacBook1.jpg');
	background-size:1005px 688px;
	background-repeat:no-repeat;
}

.image_container{
	-webkit-filter: grayscale(100%);
	height:80px; 
	width:80px;
	opacity:0.5
}

.image_container_draggable{
	-webkit-filter: grayscale(100%);
	height:80px; 
	width:80px;
	opacity:0.5
}

.image_container_draggable:hover{
	-webkit-filter: none;
	opacity:1.0;
}

table {
	border-collapse: separate; /* Or do nothing, this is default */
  border-spacing: 1px; 
}

td {
	width: 80px;
	height: 80px;
	background: rgba(0, 0, 0, 0.1);
}

td.disabled {
	width: 80px;
	height: 80px;
	background: rgba(0, 0, 0, 0.75);
}

.progress {
	margin: 20px auto;
}