// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#table-background{
	background-image:url('/MacBook1.jpg');
	background-size:1005px 688px;
	background-repeat:no-repeat;
}

.image-grid{
	background-color:black;
	height:80px; 
	width:80px;
	opacity:0.3
}

.no-laser{
	opacity:0.8
}

.image_container{
	-webkit-filter: grayscale(100%);
	height:80px; 
	width:80px;
	opacity:0.5
}

.image_container:hover{
	-webkit-filter: none;
	opacity:1.0
}